body {
    font-family: Calibri, Arial, sans-serif;
    background-color: #E8E6FF;
}

.content {
    margin: 0px auto;
    width: 600px;
    border: rgba(0,0,0,0.5) solid 1px;
    padding: 50px;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    border-radius: 25px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: rgba(0,0,0,0.2) solid 1px;
    margin: 0;
}
